body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo {
  float: left;
  margin-right: 20px;
}

.mi-formulario {
  float: left;
}

.form-group {
  margin-bottom: 10px;
}

.small-button { 
  width: '10rem' !important;
  height: '3rem' !important; 
  display: 'block' !important; 
  margin: 'auto' !important; 
}
